- instruments = { '0582': 'openhat', '0733': 'hihat', '0307': 'kick', '0770': 'snare', '0968': 'cowbell', '1169': 'crash', '1310': 'hi_tom', '1342': 'low_tom' }
div.wrapper
  div.levelWrapper
    each instrument in instruments
      div(class=`level ${instrument}`)
        .label
          div= instrument.toUpperCase().replace('_', ' ')
        .bar
  div.drum-pads
    - var n = 0
      while n < 16
        .step
          each instrument in instruments
            div(class=`pad ${instrument}` data-instrument=instrument)
        - n++
  .controls
    .pad#mute.pulse(title="toggle mute")
      i.fa.fa-volume-up
    .pad#playpause(title="play/pause")
      i.fa.fa-pause
    .pad#save(title="save")
      i.fa.fa-download
    .pad#load(title="load")
      i.fa.fa-upload
    .pad#reset(title="clear")
      i.fa.fa-refresh        
each instrument, id in instruments
  audio(
    src=`https://res.cloudinary.com/thepeted/video/upload/v15273${id}/sounds/${instrument}.wav`
    data-instrument=instrument
    muted
  )
